body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.payment-container {
    width: 400px;
    position: relative;
}

.card {
    width: 100%;
    background: #e3e3e3;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(00,0,0,0.15);
    
}

.card-front {
    width: 100%;
    height: 200px;
    background: #e3e3e3;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(00,0,0,0.15);
    position: relative;
    z-index: 2;
    margin-top: 50px;
}

.card-image {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
}

.card-back {
    position: absolute; 
    top: 75px;
    left: 75px;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(00,0,0,0.15);
    z-index: 1;
    background: #d3d3d3;
    margin-top: 50px;
}

.card label {
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 4px;
}

.card input {
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 4px;
    margin-bottom: 18px;
}


.exp-row {
    display: flex;
    gap: 10px;
    margin-left: 25px;
}

.exp-row input {
    width: 60px;
    text-align: left;
}

.card-form {
    margin-top: -50px;
    margin-right: 75px;
}

.black-strip {
  background: #222;
  margin-left: 20px;
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
}

.cvc-box {
  padding: 10px;
  width: 120px;
  margin-top: 100px;
  margin-left: 335px;
  margin-right: 5px;
  text-align: left;
}

.cvc-box label {
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.cvc-box input {
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #888;
}

.card-details-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
    margin-top: 150px;
    margin-left: 400px;
    padding: 10px 25px;
    background: white;
    border-radius: 8px;
    border: 2px solid #000;
}